In [20]:
import pandas as pd

In [21]:
# read region id data into pandas
df_countries = pd.read_csv('../../../DataHub/country_codes/data.csv')
df_countries.head()

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number
0,Asia,AS,"Afghanistan, Islamic Republic of",AF,AFG,4.0
1,Europe,EU,"Albania, Republic of",AL,ALB,8.0
2,Antarctica,AN,Antarctica (the territory South of 60 deg S),AQ,ATA,10.0
3,Africa,AF,"Algeria, People's Democratic Republic of",DZ,DZA,12.0
4,Oceania,OC,American Samoa,AS,ASM,16.0

In [24]:
# read grower col names into pandas
df = pd.read_csv('grow_col_names.csv')
df

                             Country
0                 Calendar years_dup
1                           Colombia
2                 Dominican Republic
3                        El Salvador
4                          Guatemala
5                           Honduras
6                              India
7                             Uganda
8                             Brazil
9                           Ethiopia
10                              Togo
11                    Calendar years
12                             Kenya
13                          Tanzania
14  Bolivia (Plurinational State of)
15                           Burundi
16                          Cameroon
17                        Costa Rica
18                              Cuba
19      Democratic Republic of Congo
20                           Ecuador
21                             Haiti
22                           Jamaica
23                        Madagascar
24                            Malawi
25                            Mexico
26                         Nicaragua
27                            Panama
28                  Papua New Guinea
29                              Peru
30                            Rwanda
31                         Sri Lanka
32                            Zambia
33                            Angola
34                         Indonesia
35                       Philippines
36                          Thailand
37                          Viet Nam
38                             Benin
39          Central African Republic
40                             Congo
41                     CÃ´te d'Ivoire
42                             Gabon
43                             Ghana
44                            Guinea
45                           Nigeria
46                      Sierra Leone
47                 Trinidad & Tobago